<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About page</title>
</head> 
<body>

  <div class="main-content">
      {{>header}}
    <img class="potrait" src="./img/node.png" alt="">
    <p>This site is created by Aadarsha. It uses the data from mapbox.com and darksky.net
      APIL ACHARYA also supported me to create this app.
    </p>
</div>
 {{>footer}}

</body>
</html>